body{
    background-image: url(../img/fundo\ 1.png);
    background-size: cover;
    margin: 0%;
}

table{
    width: 100%;
    height: 900px;
}

td{
    width: 25%;
}

.cabecalho{
    background-color: rgb(64, 19, 107);
    height: 66px;
}

.rosa{
    background-color: rgb(150, 21, 150);
    height: 120px;
}

.verde{
    background-color: chartreuse;
    height: 150px;
}
